
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link rel="stylesheet" href="https://livefactory.kr/css/common.css">
<link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<style>
    /* 방송 화면 */
    .video-js{
        position: static;
        background-color: black;
    }
    .video-js > .vjs-tech{
        top : 5% ;
        height: 95%
    }
    #my_video{
        width : inherit;
        height: 0;
    }
</style>
<!--채널 하단 톡버튼-->

<div class="talk-plugin">
    <!-- 처음 라이브 버튼 -->
    <button class="talk-plugin-btn">
        <img src="https://livefactory.kr/images/mini-player/talk-live.svg" alt="라이브 버튼">
    </button>
    <button class="buy-plugin-btn">
        <img src="https://livefactory.kr/images/mini-player/talk-buy.svg" alt="라이브 버튼">
    </button>
    <button class="click-plugin-btn">
        <img src="https://livefactory.kr/images/mini-player/talk-buy-click.svg" alt="라이브 버튼">
    </button>
</div>
<!-- 처음 버튼 눌렀을때 나오는 라이브 영상   -->
<div class="live-thumbs">
    <div class="thumb-tit">
        <p><%= live.live_title %></p>
        <button type="button" class="thumb-close-btn">n</button>
        <div>
            <img src="https://livefactory.kr/images/broadcast/live-loading.png" id="bdc-loading-img" class="bdc-loading-img">
        </div>
        <video-js id="my_video" class="video-js vjs-theme-forest" controls preload="auto" muted = "muted"></video-js>
        <script src="https://unpkg.com/video.js/dist/video.js"></script>
        <script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>
        <script>
            let player = videojs('my_video')
            player.src({
                src: 'http://livefactory.kr:1935/<%= live.stream_application %>/livefactory<%=live.live_quality%>/playlist.m3u8',
                type: 'application/x-mpegURL',
                handleManifestRedirects : true,
                liveui: true,
                blacklistDuration : 1
            })
            player.ready(function(){
                player.play()
            })
            player.on('error', function() {
                player.dispose()
                const loadingImg = document.getElementById('bdc-loading-img')
                loadingImg.style.display = 'block'
            })
        </script>
    </div>
    <div class="shop-info">
        <h3>상품 리스트</h3>
        <p>총 <%= products.length %>개의 상품이 있습니다.</p>
        <ul class="shop-list" style="padding-left: 0px">
            <% for( let i = 0; i < products.length; i++ ) { %>
                <li>
                    <div class="shop-img">
                        <img src="https://livefactory.kr/<%= products[i].product_img%>" alt="">
                    </div>
                    <div class="shop-txt">
                        <p><%= products[i].product_name%></p>
                        <p class="price"><span>96%</span>&nbsp; <%= products[i].product_price %></p>
                    </div>
                    <div class="shop-btn">
                        <a href="<%= products[i].product_url %>" target="_blank" type="button" class="shop-link-btn">구매하기</a>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="talk-dimm"></div>
</div>
<script>
    $(function() {
        // 채널톡 클릭시 영상 보여주기 / 선물하기 버튼변경
        $('.talk-plugin-btn').on('click', function() {
            $(this).hide();
            $('.live-thumbs').removeClass('slide-off').toggleClass('lt-show');
            $('.buy-plugin-btn').css('display','block');
            $('.shop-info').css('display', 'none')
        });
        // 채널톡 닫기 버튼
        $('.live-thumbs .thumb-close-btn').on('click', function() {
            $('.live-thumbs').toggleClass('slide-off');
            $('.live-thumbs').removeClass('lt-show');
            $('.shop-info').removeClass('show')
            $('.buy-plugin-btn').css('display','none');
            $('.click-plugin-btn').css('display','none');
            $('.talk-plugin-btn').css('display','block');
            $('.talk-dimm').removeClass('talk-dimm-show');
        });
        // 구매하기 버튼
        $('.buy-plugin-btn').on('click',function () {
            $(this).hide();
            $('.click-plugin-btn').css('display','block')
            $('.shop-info').addClass('show');
            $('.talk-dimm').addClass('talk-dimm-show');
            $('.vjs-tech').css('z-index','-1')
            $('.shop-info').css('display', 'block')
        });
        // 상품 디테일 구매하기 버튼
        $('.click-plugin-btn').on('click',function () {
            $(this).hide();
            $('.buy-plugin-btn').css('display','block');
            $('.shop-info').removeClass('show');
            $('.talk-dimm').removeClass('talk-dimm-show');
        });
    });
</script>
<script>
    var front = {
        sc: 0 ,
        init: function() {
        },

    };
    $(document).ready(function() {
        // front.init();
        $(window).scroll(function() {
            front.sc = $(this).scrollTop();
        });
    });
</script>
