<%- include("./search") %>
<script>
    $('.channel-lnb-first').addClass('channel-lnb-active')
</script>
                <div class="search-article">
                    <h2>상품</h2>
                    <ul class="search-pd-list">
                        <% for( let i = 0; i < products.length; i++) {%>
                        <li>
                            <div class="m-pd-img">
                            <div class="pd-img"><img src="<%= products[i].product_img%>"></div>
                            </div>
                            <div class="pd-txt">
                                <h3><%= products[i].product_name %></h3>
                                <p><%= products[i].product_price %></p>
                            </div>
                            <a href="/channel/main/<%=products[i].chnl_pk%>/product" class="pd-channel-btn">채널보기</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div style="width:100%; margin: 0 0 50px 0; background: #fff; border-radius: 0 0 5px 5px;">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <% if(yn_prev === 1) { %>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="searchProduct(<%= parseInt(pageNo)-1 %>)">이전</a></li>
                            <% } %>
                            <% for(let page = startPage; page <= endPage; page++) { %>
                                <% if(page == pageNo) { %>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);" onclick="searchProduct(<%= page %>)"><%= page %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="searchProduct(<%= page %>)"><%= page %></a></li>
                                <% } %>
                            <% } %>
                            <% if(yn_next === 1) { %>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="searchProduct(<%= parseInt(pageNo)+1 %>)">다음</a></li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <%- include("../include/common-footer") %>
    </div>
</body>
</html>
<!-- 스크롤 스타일 -->
<style>
    .search-pd-list::-webkit-scrollbar {
        width: 7px;
    }
    .search-pd-list::-webkit-scrollbar-track {
        background: none;
    }
    .search-pd-list::-webkit-scrollbar-thumb {
        background: #FFBABA;
    }
</style>
<script>
    function searchProduct(page){
        if(isNaN(page)) page = 1
        const url = '/search/product?keyword=' + '<%= keyword %>' + '&pageNo=' + page
        location.href = url
    }
</script>
